{% extends 'base.html' %}
{% load crispy_forms_tags %}
<style>
    #"hint_id_new_password1{
        display:none
    }
</style>
{% block title %}  {% endblock title %}


{% block content %}
<h3 class="font-weight-bold text-success">Parolni o'zgartirish.</h3>
<!--<p class="font-weight-normal">Normal weight text.</p>-->
<!--<p class="font-weight-light">Light weight text.</p>-->
<p class="font-italic">Xavfsizligingiz kafolati uchun parolni yangilang.</p>

<form method="post"> {% csrf_token %}
     {{ form|crispy }}
    <input type="submit" class="btn btn-outline-success" value="Ro'yxatdan utish">
</form>
{% endblock content %}